<link rel="stylesheet" href="/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<footer>
      <div class="footer-column">
        <ul style="list-style-type: none">
          <li>Tel:+54 2235515070</li>
          <li>Whatsapp: +54 2235515070</li>
          <li>estebanferreccio@gmail.com</li>
          <li>
            <a href="https://github.com/eferreccio"><i class="fa fa-github-square"></i></a> Github
          </li>
        </ul>
      </div>
    <div class="copyR">
      <br>
      <div>
        <p>Ejercicio ilustrativo, con el fin de poder mostrar las habilidades incorporadas: </p>
        <br>
        <p> ● Node Js ● Express ● HTML ● CSS ● Javascript ● Git ● Metodologías Ágiles - Scrum
          ● OOP ● Patrón de arquitectura MVC ● VSCode</p>
      </div>
    </div>
  </footer>