<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/style.css">
</head>
<html>
    <%- include('./partials/header') %>
    <body>  
        <img src="/images/homeImg.jpg" class="img-home">
        <br>
    </body>
</html>
