<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/style.css">
</head>
<html>
    <%- include('./partials/header') %>
    <body class="profile">  
        <h2>Bienvenido al perfil de <%= user.full_name %></h2>
        <img src="/images/avatars/<%= user.avatar%>" class="img-profile">
        <br>
        <br>
        <div><%= user.email %></div>
    </body>
</html>
